h1 {
    color: white;
    background-color: rgb(4, 149, 94);
    font-size: 50px;
    width: 15%;
}
h2 {
color: rgb(4, 149, 94);
text-decoration:underline
}
.A img {
    width: 10%;
}

h3 {
    color: green;
    text-decoration:underline; 
}

.B img {
    width: 10%
}